{% extends 'school/base.html' %}

{% block gbody %}
<div class="container">
    <h2>비밀번호 변경</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="change_password_form" action="." method="post"> {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.school.label_tag }}</td>
                        <td>{{ form.school }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.grade.label_tag }}</td>
                        <td>{{ form.grade }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.age.label_tag }}</td>
                        <td>{{ form.age }}</td>
                    </tr>
                </table>
                <div class="form-actions">
                    <button class="btn btn-primary" name="next" type="submit">다음</button>
                    <a href="{% url 'user:temp_delete' pk=pk %}">
                        <button type='button' class="btn btn-danger" name="cancel">취소</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock gbody %}