{% extends 'school/base.html' %}

{% block head_title %}
    <title>마이페이지</title>
{% endblock head_title %}

{% block gbody %}
    <table border="4" align="center">
        <tr bgcolor="black" align="center">
            <td style="color:white">
                <a href="{% url 'user:update_profile' %}"><h1>프로필변경</h1></a>
            </td>
            <td style="color:white">
                <a href="{% url 'user:change_password' %}"><h1>비밀번호변경</h1></a>
            </td>
            <td style="color:white">
                <a href="{% url 'user:user_delete' pk=pk %}"><h1>회원탈퇴</h1></a>
            </td>
        </tr>
    </table>
{% endblock gbody %}
