{% extends 'school/base.html' %}
{% load static %}

{% block head_title %}
    <script src="{% static 'user/js/mypage.js' %}" type="text/javascript"></script>
{% endblock head_title %}

{% block gbody %}
    <a href="{% url 'user:update_profile' %}">기본정보</a> |
    {% if profile.group == '학생' or student.profile.group == '학생' %}
        <a href="{% url 'user:update_student' %}">학생 세부정보</a>
        |
        <a href="{% url 'user:update_edulevel' pk=user.pk %}">학력 수정</a>
    {% elif profile.group == '학교 관계자' or school_auth.profile.group == '학교 관계자' %}
        <a href="{% url 'user:update_school_auth' %}">학교관계자 세부정보</a>
    {% elif profile.group == '학부모' or parent.profile.group == '학부모' %}
        <a href="{% url 'user:update_parent' %}">학부모 세부정보</a>
    {% else %}
        <h1>error</h1>
    {% endif %}

    {% block mypage_gbody %}
    {% endblock mypage_gbody %}
{% endblock %}
