{% extends 'school/base.html' %}

{% block gbody %}
<form name="update_profile_form" action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container">
<!--        {% if profile.group == '학생' %}-->
<!--            <a href="{% url 'user:update_student' %}">학생 세부정보</a>-->
<!--        {% elif profile.group == '학교 관계자' %}-->
<!--            <a href="{% url 'user:update_school_auth' %}">관계자 세부정보</a>-->
<!--        {% elif profile.group == '학부모' %}-->
<!--            <a href="{% url 'user:update_parent' %}">학부모 세부정보</a>-->
<!--        {% else %}-->
<!--            <h1>error</h1>-->
<!--        {% endif %}-->
<!--        <h2>프로필 변경</h2>-->
<!--        <div class="panel-group">-->
<!--            <div class="panel panel-primary">-->
<!--                <div class="panel-heading">기본정보 변경</div>-->
<!--                <div class="panel-body">-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>{{ form.phone.label_tag }}</td>-->
<!--                            <td>{{ form.phone }}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>{{ form.receive_email.label_tag }}</td>-->
<!--                            <td>{{ form.receive_email }}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% if group == 0 %}-->
<!--            <div class="panel panel-primary">-->
<!--                <div class="panel-heading">학생정보변경</div>-->
<!--                <a href="{% url 'user:update_edulevel' pk=user.pk %}">학력 수정</a>-->
<!--                <div class="panel-body">-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>{{ form.school.label_tag }}</td>-->
<!--                            <td>{{ form.school }}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>{{ form.grade.label_tag }}</td>-->
<!--                            <td>{{ form.grade }}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>{{ form.age.label_tag }}</td>-->
<!--                            <td>{{ form.age }}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>{{ form.address1.label_tag }}</td>-->
<!--                            <td>{{ form.address1 }}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>{{ form.address2.label_tag }}</td>-->
<!--                            <td>{{ form.address2 }}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% elif group == 1 %}-->
<!--            <div class="panel panel-primary">-->
<!--                <div class="panel-heading">학교 관계자 정보변경</div>-->
<!--                <div class="panel-body">-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>{{ form.school.label_tag }}</td>-->
<!--                            <td>{{ form.school }}<br><br></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>{{ form.auth_doc.label_tag }}</td>-->
<!--                            <td>{{ form.auth_doc }}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>{{ form.tel.label_tag }}</td>-->
<!--                            <td>{{ form.tel }}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endif %}-->
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">변경</button>
        <button class="btn btn-danger" onclick="history.back(-1);">취소</button>
    </div>
</form>
{% endblock gbody %}