{% extends 'school/base.html' %}
{% load static %}

{% block gbody %}
<form name="update_profile_form" action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container">
        <h2>프로필 변경</h2>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">기본정보 변경</div>
                <div class="panel-body">
                    <p>{{ form.phone.label_tag }} {{ form.phone }}</p>
                    <p>{{ form.receive_email.label_tag }} {{ form.receive_email }}</p>
                </div>
            </div>
            {% if group == 0 %}
            <div class="panel panel-primary">
                <div class="panel-heading">학생정보변경</div>
                <div class="panel-body">
                    {% if eduLevel_attendance.modified_cnt == 0 %}
                    <p>{{ form.school.label_tag }} {{ form.school }}
                        {{ form.grade.label_tag }} {{ form.grade }}</p>
                    {% else %}
                    <p>
                        <strong>다니는 학교: </strong> <input type='text' value={{eduLevel_attendance.school}} readonly>
                        {{ form.grade.label_tag }} {{ form.grade }}
                    </p>
                    {% endif %}

                    <div id="div_graduation">
                        <strong>졸업한 학교 <i class='fas fa-plus' onclick='addField()'></i></strong>
                        <p id="p_graduation" style="display:none">
                            <input type='text' name='graduated_school'>
                            <i class='fas fa-minus' onclick='removeField(this)'></i>
                        </p>
                        {% for i in eduLevel_graduation %}  <!-- df -->
                        <p>
                            <p>{{i.school}}</p>
<!--                            <input type='text' name='graduated_school' value={{i.school}} readonly>-->
<!--                            <i class='fas fa-minus' onclick='removeField(this)'></i>-->
                        </p>
                        {% endfor %}
                    </div>
                    <p>{{ form.age.label_tag }} {{ form.age }}</p>
                    <p>{{ form.address1.label_tag }} {{ form.address1 }}</p>
                    <p>{{ form.address2.label_tag }} {{ form.address2 }}</p>
                </div>
            </div>
            {% elif group == 1 %}
            <div class="panel panel-primary">
                <div class="panel-heading">학교 관계자 정보변경</div>
                <div class="panel-body">
                    <p>{{ form.school.label_tag }}</p>
                    <p>{{ form.school }}</p>

                    <p>{{ form.auth_doc.label_tag }}</p>
                    <p>{{ form.auth_doc }}</p>

                    <p>{{ form.tel.label_tag }}</p>
                    <p>{{ form.tel }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">변경</button>
        <button class="btn btn-danger" onclick="history.back(-1);">취소</button>
    </div>
</form>
<script src="{% static 'user/js/sign_up.js' %}" type="text/javascript"></script>
{% endblock gbody %}