{% extends 'eduGalaxy/base.html' %}
{% load static %}

{% block content %}

<H1> EduGalaxy 회원가입 </H1>
<br><br><br>
<form name="Signup_Form" mothod="POST" action="{% url 'sign_up' %}">{% csrf_token %}
    <script src="{% static 'js/sign_up.js' %}" type="text/javascript"></script>
    <table>
        <tr>
            <td>{{ SignupForm.User_Email1.label_tag }}</td>
            <td>{{ SignupForm.User_Email1 }} &nbsp; @ &nbsp;</td>
            <td>{{ SignupForm.User_Email2 }}</td>
            <td>{{ SignupForm.Select_Email }}</td>
        </tr>
        <tr>
            <td>{{ SignupForm.password1.label_tag }}</td>
            <td>{{ SignupForm.password1 }}</td>
        </tr>
        <tr>
            <td>{{ SignupForm.password2.label_tag }}</td>
            <td>{{ SignupForm.password2 }}</td>
        </tr>
        <tr>
            <td>{{ SignupForm.nickname.label_tag}}</td>
            <td>{{ SignupForm.nickname}}</td>
        </tr>
        <tr>
            <td>{{ SignupForm.age_choice.label_tag }}</td>
            <td>{{ SignupForm.age_choice }} &nbsp; 세</td>
        </tr>
        <tr>
            <td> {{ SignupForm.job.label_tag }}</td>
            <td> {{ SignupForm.job }}</td>
        </tr>
        <tr>
            <td><h5>성별:</h5></td>
            <td><label><input type="radio" name="gender" value="M" checked='checked'>남</label></td>
            <td><label><input type="radio" name="gender" value="F">여</label></td>
        </tr>
        <!--
            주소 부분 보류
            <tr>-->
            <!--<td>{{ SignupForm.province_select.label_tag }}</td>-->
            <!--<td>{{ SignupForm.province_select }}</td>-->
            <!--<td>{{ SignupForm.city_select }}</td>-->
            <!--<td>{{ SignupForm.dong_select }}</td>-->
        <!--</tr>-->
    </table>

    <a class="btn btn-default">가입완료</a>
</form>
{% endblock content %}


