	logo : {{ admin_post.logo }}<br>
	modified_date : {{ admin_post.modified_date }}<br>
	학교 상세정보<br>
	학교명 : {{ admin_post.school_info.sch_name }}<br>
	지역 : {{ admin_post.school_info.sch_location }}<br>
	설립구분 : {{ admin_post.school_info.sch_estab_div }}<br>
	주야구분 : {{ admin_post.school_info.sch_day_n_night }}<br>
	공학구분 : {{ admin_post.school_info.sch_gonghak }}<br>
	설립일 : {{ admin_post.school_info.sch_estab_date }}<br>
	개교기념일 : {{ admin_post.school_info.sch_anniversary }}<br>
	학교특성 : {{ admin_post.school_info.sch_char }}<br>
	주소 : {{ admin_post.school_info.sch_address1 }}<br>
	상세주소 : {{ admin_post.school_info.sch_address2 }}<br>
	도로명주소 : {{ admin_post.school_info.sch_address1_st }}<br>
	도로명상세주소 : {{ admin_post.school_info.sch_address2_st }}<br>
	우편번호 : {{ admin_post.school_info.sch_zip_code }}<br>
	도로명 우편번호 : {{ admin_post.school_info.sch_zip_code_st }}<br>
	전화번호 : {{ admin_post.school_info.sch_phone }}<br>
	팩스번호 : {{ admin_post.school_info.sch_fax }}<br>
	홈페이지 주소 : {{ admin_post.school_info.sch_homepage }}<br>
