<!DOCTYPE html>
{% load static %}

<html>
    <head>
        {% block head_title %}
        {% endblock %}
    </head>
    <body>
        <div class="page-header">
            <h1><a href="{% url 'index' %}">Django tutorial</a></h1>
            {% if user.is_authenticated %}
                <h3><a href="{% url 'logout' %}">LOG OUT</a></h3>
                Hello {{ user.user_nickname }}
            {% else %}
                <h3><a href="{% url 'login' %}">SIGN IN / SIGN UP</a></h3>
            {% endif %}
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>
