<!DOCTYPE html>
{% load static %}

<html>
    <head>
	    <!--
	     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/eduGalaxy/css/eduStyle.css" />
	<style>
		.sign {
			float: right;
		}
		.page-header {
			background-color: #f4511e; /* Orange */
		}
	</style>
        {% block head_title %}
        {% endblock %}
    </head>
    <body>
    <div class="globalWrap">
        <!--<h1>is_authenticated: {{ request.user.is_authenticated }}</h1>-->
        <!--<h1>user_email: {{ request.user.user_email }}</h1>-->
        <!--<h1>user_confirm: {{ request.user.user_confirm }}</h1>-->
        <!--<h1>user_nickname: {{ request.user.user_nickname }}</h1>-->
	<a href="{% url 'eduGalaxy:index' %}">에듀갤럭시</a>
        {% if request.user.is_authenticated %}
            <h5><a href="{% url 'user:logout' %}">Sign Out</a></h5>
	{% if not request.user.user_confirm %}
	    {{ request.user.user_nickname }}님, 가입하신 이메일로 인증메일을 발송 하였습니다.
	    <a href="{% url 'user:resend' %}">
		    <div class="form-actions">
			<button class="btn btn-primary btn-large" type="submit">재발송</button>
		    </div>
	    </a>
	{% endif %}
    	{% else %}
		<div class="sign">
			<a href="{% url 'user:login' %}">Sign In</a>
			<a href="{% url 'user:signup' %}">Sign Up</a>
		</div>
    	{% endif %}
    </div>
        {% block content %}
        {% endblock %}
    </body>
</html>

