<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block head_title %}
        {% endblock %}
    </head>
    <body>
    <div class="page-header">
        <h1><a href="{% url 'eduGalaxy:index' %}">에듀갤럭시</a></h1>
            {% if request.user.is_authenticated %}
                <h5><a href="{% url 'logout' %}">Sign Out</a></h5>
                {% if not request.user.user_confirm %}
                    <h2>{{ request.user.user_nickname }}님, 가입하신 이메일로 인증메일을 발송 하였습니다.
                        <!--<form action="{% url 'resend' %}" method="post"> {% csrf_token %}-->
                            <!--<div class="form-actions">-->
                                <!--<button class="btn btn-primary btn-large" type="submit">재발송</button>-->
                            <!--</div>-->
                        <!--</form>-->
                        <a href="{% url 'resend' %}">
                            <div class="form-actions">
                                <button class="btn btn-primary btn-large" type="submit">재발송</button>
                            </div>
                        </a>
                    </h2>
                {% endif %}
            {% else %}
                <h5><a href="{% url 'login' %}">Sign In</a></h5>
                <h5><a href="{% url 'signup' %}">Sign Up</a></h5>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>

