<!DOCTYPE html>
{% extends 'registration/base.html' %}
{% load static %}

<html>
<head>
    {% block head_title %}
        <title>Sign Up</title>
    {% endblock head_title %}
</head>
<body>
    {% block content %}
    <script src="{% static 'user/js/sign_up.js' %}" type="text/javascript"></script>
        <div class="panel panel-default registration">
            <div class="panel-heading">
                <h1 align="center">회원 가입</h1>
            </div>

        {% include 'registration/social_login_panel.html' with panel_name="소셜회원가입" %}

            <div class="panel-body">
                <form name="Signup_Form" action="." method="post"> {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.user_email1.label_tag }}</td>
                        <td>{{ form.user_email1 }} &nbsp; @ &nbsp;</td>
                        <td>{{ form.user_email2 }}</td>
                        <td>{{ form.select_email }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password1.label_tag }}</td>
                        <td>{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password2.label_tag }}</td>
                        <td>{{ form.password2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.user_nickname.label_tag}}</td>
                        <td>{{ form.user_nickname}}</td>
                    </tr>
                    <tr>
                        <td>{{ form.user_age.label_tag }}</td>
                        <td>{{ form.user_age }} &nbsp; 세</td>
                    </tr>
                    <tr>
                        <td> {{ form.user_job.label_tag }}</td>
                        <td> {{ form.user_job }}</td>
                    </tr>
                </table>
                    <div class="form-actions">
                        <button class="btn btn-primary btn-large" type="submit">가입하기</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock content %}
</body>
</html>

<!--<tr>-->
            <!--<td><h5>성별:</h5></td>-->
            <!--<td><label><input type="radio" name="user_gender" value="M" checked='checked'>남</label></td>-->
            <!--<td><label><input type="radio" name="user_gender" value="F">여</label></td>-->
        <!--</tr>-->
        <!--&lt;!&ndash;-->
            <!--주소 부분 보류-->
            <!--<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ form.province_select.label_tag }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ form.province_select }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ form.city_select }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ form.dong_select }}</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--</table>-->
