{% load static %}

{% static 'static/images/kakao/kakao_login.png' as kakao_button %}
{% static 'static/images/kakao/kakao_login_ov.png' as kakao_button_hover %}
{% static 'static/images/naver/naver_login_completion_green.png' as naver_button %}
{% static 'static/images/naver/naver_login_completion_white.png' as naver_button_hover %}

<div class="panel panel-default user-panel">
    <div class="panel-heading">
        소셜로그인
    </div>
    <div class="panel-body text-center">
        <div class="pull-left">
            <a>
                <img src="{{ kakao_button }}"
                     onmouseover="this.src='{{ kakao_button_hover }}'"
                     onmouseleave="this.src='{{ kakao_button }}'" height="34">
            </a>
        </div>
        <div class="pull-right">
<!--
    naverLogin() = 네이버 인증페이지로 화면을 이동시켜 사용자롤 로그인하고, 사용자로부터 사용권한을 제공하는 기능
-->
            <a href="#" onclick="naverLogin()">
                <img src="{{ naver_button }}"
                     onmouseover="this.src='{{ naver_button_hover }}'"
                     onmouseleave="this.src='{{ naver_button }}'" height="34">
            </a>
        </div>
    </div>
</div>
